@media(max-width: 1480px){
    body{
        .section2{
            .section2-container{
                .section2-item3{
                    svg{
                        width: 120px;
                        left: -10px;
                        top: -100px;
                        transform: rotate(40deg);
                    }
                }
            }
        }
    }
}

@media(max-width: 1265px){
    body{
        .section2{
            .section2-container{
                .section2-item2{
                    .circle-photo1{
                        display: none;
                    }
                }
            }
        }
    }
}

@media(max-width: 1190px){
    body{
        .section2{
            .section2-container{
                .section2-item3{
                    .slider{
                        max-width: 900px;
                    }
                }
            }
        }
    }
}

@media(max-width: 1070px){
    body{
        .section2{
            .section2-container{
                .section2-item3{
                    .slider{
                        max-width: 800px;
                    }
                }
            }
        }
    }
}

@media(max-width: 980px){
    body{
        .menu{
            .menu-container{
                .hamburguer-menu{
                    display: block;
                }
                
                nav{
                    display: none;
                }
            }
        }
        .section2{
            .section2-container{
                .section2-item3{
                    .slider{
                        max-width: 700px;
                    }
                }
            }
        }
    }
}