@media(max-width: 1480px){
    body{
        .section2{
            .section2-container{
                .section2-item3{
                    svg{
                        width: 120px;
                        left: -10px;
                        top: -100px;
                        transform: rotate(40deg);
                    }
                }
            }
        }
    }
}

@media(max-width: 1265px){
    body{
        .section2{
            .section2-container{
                .section2-item2{
                    .circle-photo1{
                        display: none;
                    }
                }
            }
        }
    }
}

@media(max-width: 1190px){
    body{
        .section2{
            .section2-container{
                .section2-item3{
                    .slider{
                        max-width: 900px;
                    }
                }
            }
        }
    }
}

@media(max-width: 1070px){
    body{
        .section1{
            .section1-container{
                .section1-item2{
                    max-width: 400px;
                    h2{
                        font-size: 3rem;
                    }
                    h3{
                        font-size: 1.5rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
                .section1-item3 svg{
                    max-width: 150px;
                }
            }
        }
        .section2{
            .section2-container{
                .section2-item3{
                    .slider{
                        max-width: 800px;
                    }
                }
            }
        }
    }
}

@media(max-width: 980px){
    body{
        #splash-screen{
            svg{
                max-width: 150px;
            }
        }
        .menu{
            .menu-container{
                display: block;
                height: 0;
                width: 0;
                
                
                .hamburguer-menu{
                    display: block;
                    position: fixed;
                    top: 30px;
                    right: 40px;
                    z-index: 3;
                }

                nav{
                    display: none;
                }

                .menu-logo{
                    position: fixed;
                    top: 20px;
                    left: 50%;
                    transform: translate(-50%, 0%);
                }
            }


            .menu-container.close{
                display: block;
                position: fixed;
                width: 100%;
                height: 100vh;
                z-index: 2;
                background-color: $black-light;
                
                
                .hamburguer-menu{
                    display: block;
                    position: fixed;
                    top: 30px;
                    right: 40px;
                    z-index: 3;
                }
                
                .menu-left a+a,
                .menu-right a+a{
                    margin-left: 0;
                }

                nav{
                    display: block;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .menu-left{
                    margin-top: 200px;

                    a{
                        font-size: 2rem;
                        font-weight: 400;
                        margin-top: 40px;
                        padding: 20px 100%;
                    }
                }
                .menu-right{                    
                    a{
                        font-size: 2rem;
                        font-weight: 400;
                        margin-top: 40px;
                        padding: 20px 100%;
                    }
                }

                .menu-logo{
                    position: fixed;
                    top: 20px;
                    left: 50%;
                    transform: translate(-50%, 0%);
                }
            }
        }



        .section2{
            .section2-container{
                .section2-item2{
                    display: none;
                }
                .section2-item3{
                    .slider{
                        max-width: 700px;
                    }
                }
            }
        }
    
        .section4{
            .section4-container{
                display: block;
                .section4-item1{
                    form{
                        max-width: 600px;
                        margin: 0 auto;
                        display: flex;
                        flex-direction: column;
                        
                        .position-email{
                            margin-top: 55px;
                        }
                        .submit{
                            margin-bottom: 20px;
                        }
                    }
                }
                .section4-item2{
                    display: none;
                }
            }                
        }
    }
}


@media(max-width: 880px){
    body{
        #splash-screen{
            svg{
                max-width: 100px;
            }
        }
        
        .section1{
            .section1-container{
                flex-direction: column-reverse;
                justify-content: space-evenly;
                height: 100%;
                .section1-item1{
                    margin-bottom: 5rem;
                    flex-direction: row;
                    a{
                        i{
                            font-size: 40px;
            
                            &:hover{
                                transform: translateY(-25px);
                            }
                        }
                        margin: 0 20px;
                    }
                    a+a{
                        margin-top: 0;
                    }
                }
                .section1-item2{
                    max-width: 500px;
                    h2{
                        font-size: 2rem;
                    }
                    h3{
                        font-size: 1.125rem;
                    }
                    p{
                        font-size: 1rem;
                    }
                }
                .section1-item3{
                    display: none;
                }
            }
        }
        .section2{
            .section2-container{
                grid-template-areas: 
                "about about"
                "know know"
                ;
                .section2-item1{
                    grid-area: about;
                }
                .section2-item3{
                    grid-area: know;
                    position: relative;
                    max-width: 100%;
                    height: auto;
                    display: block;
                    svg{
                        position: absolute;
                        top: -70px;
                        left: -140px;
                    }
        
                    .button{
                        display: none;
                    }
                    #previous{
                        display: none;
                    }
                    #next{
                        display: none;
                    }
        
                    .slider{
                        width: 100%;
                        margin: 0 auto;
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        padding: 20px 0;
                        row-gap: 20px;
        
                        .know{
                            display: flex;
                            background-color: $black-light;
                            min-width: 170px;
                            height: 100px;
                            margin: auto 20px;
                            position: relative;
                        
                            img{
                                max-width: 50px;
                            }
                            p{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }

        .section3{
            .section3-container{
                .section3-item1{
                    ul li a{
                        &::after{
                            width: 100%;
                        }
                        img{
                            display: none;
                        }
                    }
                }
                .section3-item2{
                    display: none;
                }
            }
        }

    }
}