* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Roboto', sans-serif;
  color: #f9f9f9;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.5rem;
}

h6, p, a {
  font-size: 1.125rem;
}

#cursor {
  width: 25px;
  height: 25px;
  background-color: #060606;
  -webkit-clip-path: polygon(0 0, 0 100%, 25% 70%, 65% 65%);
          clip-path: polygon(0 0, 0 100%, 25% 70%, 65% 65%);
  position: fixed;
  z-index: 4;
}

#cursor::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#08FFFF), to(#008181));
  background: linear-gradient(#08FFFF, #008181);
  -webkit-clip-path: polygon(0 0, 0 100%, 25% 70%, 65% 65%);
          clip-path: polygon(0 0, 0 100%, 25% 70%, 65% 65%);
  position: absolute;
  -webkit-transform: translate(4%, 10%);
          transform: translate(4%, 10%);
  z-index: 4;
}

html {
  cursor: none;
}

body {
  width: 100%;
  background-color: #171717;
}

::-webkit-scrollbar {
  width: 12px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#008181));
  background: linear-gradient(transparent, #008181);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#08FFFF));
  background: linear-gradient(transparent, #08FFFF);
}

.menu {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #171717), to(rgba(23, 23, 23, 0)));
  background: linear-gradient(180deg, #171717 75%, rgba(23, 23, 23, 0));
  z-index: 1;
}

.menu .menu-container {
  padding: 10px 20px;
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu-container .menu-logo svg {
  height: 100px;
}

.menu .menu-container .menu-left a + a,
.menu .menu-container .menu-right a + a {
  margin-left: 60px;
}

.menu .menu-container .menu-left a,
.menu .menu-container .menu-right a {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 15px 20px;
  cursor: none;
}

.menu .menu-container .menu-left a:hover,
.menu .menu-container .menu-right a:hover {
  color: #00ffff;
}

.section1 {
  width: 100%;
  height: 100vh;
  padding: 200px 0px 20px;
}

.section1 .section1-container {
  max-width: 1180px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section1 .section1-container .section1-item1 h2 {
  color: #00ffff;
}

.section1 .section1-container .section1-item1 #left-h2 {
  float: right;
  background: -webkit-linear-gradient(90deg, transparent 5%, #08FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section1 .section1-container .section1-item1 #right-h2 {
  background: -webkit-linear-gradient(-90deg, transparent 55%, #08FFFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section1 .section1-container .section1-item2 svg:hover path {
  stroke: #00ffff;
}

.section1 .section1-container .section1-item2 svg:hover {
  -webkit-animation: introSplash2 2s ease forwards;
          animation: introSplash2 2s ease forwards;
  stroke-dasharray: 515px;
  stroke-dashoffset: 515px;
}

@-webkit-keyframes introSplash2 {
  to {
    stroke-dasharray: 515px;
    stroke-dashoffset: 0px;
  }
}

@keyframes introSplash2 {
  to {
    stroke-dasharray: 515px;
    stroke-dashoffset: 0px;
  }
}

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: #171717;
  -webkit-animation: endSplash 1s ease-in-out 3.5s forwards;
          animation: endSplash 1s ease-in-out 3.5s forwards;
}

#splash-screen #LA {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: endSplash 1s ease-in-out 3.5s forwards;
          animation: endSplash 1s ease-in-out 3.5s forwards;
}

#splash-screen #LA #L,
#splash-screen #LA #A {
  stroke-dasharray: 515px;
  stroke-dashoffset: 515px;
  -webkit-animation: introSplash 2s ease forwards;
          animation: introSplash 2s ease forwards;
}

#splash-screen #splash-svgs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-animation: endSplash 1s ease-in-out 3.5s forwards;
          animation: endSplash 1s ease-in-out 3.5s forwards;
}

#splash-screen #splash-svgs #lineSplash1 {
  -webkit-animation: linha4 6s linear infinite;
          animation: linha4 6s linear infinite;
}

#splash-screen #splash-svgs #lineSplash2 {
  -webkit-animation: linha4 4s linear infinite;
          animation: linha4 4s linear infinite;
}

#splash-screen #splash-svgs #lineSplash3 {
  -webkit-animation: linha2 5s linear infinite;
          animation: linha2 5s linear infinite;
}

#splash-screen #splash-svgs #circleSplash {
  animation: circle 3s infinite alternate-reverse;
}

@-webkit-keyframes introSplash {
  to {
    stroke-dasharray: 515px;
    stroke-dashoffset: 0px;
  }
}

@keyframes introSplash {
  to {
    stroke-dasharray: 515px;
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes endSplash {
  to {
    top: -100vh;
  }
}

@keyframes endSplash {
  to {
    top: -100vh;
  }
}

#splash-aux {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #00ffff;
  -webkit-animation: endSplash .7s ease-in-out 4s forwards;
          animation: endSplash .7s ease-in-out 4s forwards;
}

.section2 {
  width: 100%;
  min-height: 100vh;
  padding: 200px 0px 20px;
}

.section2 .section2-container {
  max-width: 1180px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "about images" "know know";
  row-gap: 80px;
}

.section2 .section2-container .section2-item1 {
  margin-right: 40px;
  max-width: 550px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2 .section2-container .section2-item2 {
  width: 100%;
  height: 300px;
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: images;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2 .section2-container .section2-item2 .circle-photo1 {
  width: 190px;
  height: 190px;
  background-color: transparent;
  border: #008181 5px dashed;
  border-radius: 50%;
  animation: circle-photo 150s reverse infinite linear;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section2 .section2-container .section2-item2 .circle-photo2 {
  width: 275px;
  height: 275px;
  background-color: transparent;
  border: #008181 5px dashed;
  border-radius: 50%;
  -webkit-animation: circle-photo 150s infinite linear;
          animation: circle-photo 150s infinite linear;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section2 .section2-container .section2-item3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: know;
  background-color: #060606;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 20px;
  -webkit-box-shadow: rgba(6, 6, 6, 0.4) 10px 30px 40px;
          box-shadow: rgba(6, 6, 6, 0.4) 10px 30px 40px;
}

.section2 .section2-container .section2-item3 .know {
  background-color: #252525;
  width: 200px;
  height: 200px;
  margin: auto 0;
  position: relative;
  border-radius: 10px;
}

.section2 .section2-container .section2-item3 .know:hover img {
  -webkit-animation: know-animation .7s forwards;
          animation: know-animation .7s forwards;
}

.section2 .section2-container .section2-item3 .know:hover p {
  -webkit-animation: know-p-animation 1s forwards;
          animation: know-p-animation 1s forwards;
}

.section2 .section2-container .section2-item3 .know img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section2 .section2-container .section2-item3 .know p {
  opacity: 0;
  position: absolute;
  top: calc(50% + 200px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(150deg, #08FFFF, #008181);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@-webkit-keyframes circle-photo {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle-photo {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes know-animation {
  to {
    -webkit-transform: translate(-50%, -120px);
            transform: translate(-50%, -120px);
    opacity: 0;
  }
}

@keyframes know-animation {
  to {
    -webkit-transform: translate(-50%, -120px);
            transform: translate(-50%, -120px);
    opacity: 0;
  }
}

@-webkit-keyframes know-p-animation {
  to {
    -webkit-transform: translate(-50%, -205px);
            transform: translate(-50%, -205px);
    opacity: 1;
  }
}

@keyframes know-p-animation {
  to {
    -webkit-transform: translate(-50%, -205px);
            transform: translate(-50%, -205px);
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */