*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import './sass/_color.scss';
@import './sass/_typograph.scss';

body{
    width: 100%;
    background-color: $black-main;
}

::-webkit-scrollbar{
    width: 12px;
    transition: .5s ease-in-out;
    background: rgba($color: #fff, $alpha: .1);
}

::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background: linear-gradient(transparent, $cian-dark);
}
::-webkit-scrollbar-thumb:hover{
    border-radius: 3px;
    background: linear-gradient(transparent, $cian-light);
}


.menu{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(23,23,23,1) 75%,rgba(23,23,23,0));
    z-index: 1;

    & .menu-container{
        padding: 10px 20px;
        max-width: 1180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .menu-logo svg{
            height: 100px;
            cursor: pointer;
        }

        .menu-left a+a,
        .menu-right a+a{
            margin-left: 60px;
        }

        .menu-left a,
        .menu-right a{
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 1.5rem;
            transition: .3s ease;
            padding: 15px 20px;
        }
      
        .menu-left a:hover,
        .menu-right a:hover{
            color: $cian-main;
        }
    }
}

.section1{
    .section1-container{
        max-width: 1180px;
        margin: 200px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .section1-item1 h2{
            color: $cian-main;            
        }

        .section1-item1 #left-h2{
            float: right;
            background: -webkit-linear-gradient(90deg, transparent 5%, $cian-light);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .section1-item1 #right-h2{
            background: -webkit-linear-gradient(-90deg, transparent 55%, $cian-light);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        
        
        .section1-item2 svg{
            cursor: pointer;
            
            &:hover path{
                stroke: $cian-main;
            }
            
            &:hover{
                animation: introSplash2 2s ease forwards;
                stroke-dasharray: 515px;
                stroke-dashoffset: 515px;
            }
        }
    }
}

@keyframes introSplash2{
    to{
        stroke-dasharray: 515px;
        stroke-dashoffset: 0px;
    }
}

.bg-hero svg{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    #linhaBG1{
        animation: linha1 10s linear infinite ;        
    }
    #linhaBG2{
        animation: linha2 8s linear infinite ;        
    }
    #linhaBG3{
        animation: linha3 6s linear infinite ;        
    }
    #linhaBG4{
        animation: linha4 9s linear infinite ;        
    }


    #circleBG1{
        animation: circle 2s infinite alternate-reverse;
    }
    #circleBG2{
        animation: circle 4s infinite alternate-reverse;
    }
    #circleBG3{
        animation: circle 3s infinite alternate-reverse;
    }
    #circleBG4{
        animation: circle 1.3s infinite alternate-reverse;
    }
}

@keyframes linha1{
    from{
        transform: translateX(-100vw);
    }
    to{
        transform: translateX(100vw);
    }
}
@keyframes linha2{
    from{
        transform: translateX(100vw);
    }
    to{
        transform: translateX(-100vw);
    }
}
@keyframes linha3{
    from{
        transform: translateY(-100vh);
    }
    to{
        transform: translateY(110vh);
    }
}
@keyframes linha4{
    from{
        transform: translateY(100vh);
    }
    to{
        transform: translateY(-110vh);
    }
}

@keyframes circle{
    from{
        opacity: 1;
    }
    to{
        opacity: 0.6;
    }
}
@import './sass/_splash-screen.scss';