* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, a, label, input {
  font-family: 'Roboto', sans-serif;
  color: #f9f9f9;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.25rem;
}

h5 {
  font-size: 1.5rem;
}

h6, p, a {
  font-size: 1.125rem;
}

body {
  width: 100%;
  background-color: #171717;
}

::-webkit-scrollbar {
  width: 12px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  background: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#008181));
  background: linear-gradient(transparent, #008181);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 3px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#08FFFF));
  background: linear-gradient(transparent, #08FFFF);
}

.menu {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(75%, #171717), to(rgba(23, 23, 23, 0)));
  background: linear-gradient(180deg, #171717 75%, rgba(23, 23, 23, 0));
  z-index: 1;
}

.menu .menu-container {
  padding: 10px 20px;
  max-width: 1180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .menu-container .menu-logo svg {
  height: 100px;
  cursor: pointer;
}

.menu .menu-container .menu-left a + a,
.menu .menu-container .menu-right a + a {
  margin-left: 60px;
}

.menu .menu-container .menu-left a,
.menu .menu-container .menu-right a {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 1.5rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 15px 20px;
}

.menu .menu-container .menu-left a:hover,
.menu .menu-container .menu-right a:hover {
  color: #00ffff;
}

.section1 {
  width: 100%;
  height: 100vh;
  padding: 200px 0px 0px;
}

.section1 .section1-container {
  max-width: 1180px;
  padding: 0px 20px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
}

.section1 .section1-container .section1-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section1 .section1-container .section1-item1 a i {
  color: #fefefe;
  font-size: 50px;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.section1 .section1-container .section1-item1 a i:hover {
  color: #08FFFF;
}

.section1 .section1-container .section1-item1 a + a {
  margin-top: 50px;
}

.section1 .section1-container .section1-item2 {
  max-width: 450px;
}

.section1 .section1-container .section1-item2 h2 {
  margin-bottom: 20px;
}

.section1 .section1-container .section1-item2 h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.section1 .section1-container .section1-item2 p {
  color: #bbbbbb;
  margin-bottom: 60px;
}

.section1 .section1-container .section1-item2 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 40px;
  color: #08FFFF;
  position: relative;
  border: 1px solid #08FFFF;
}

.section1 .section1-container .section1-item2 a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 39px;
  width: 0px;
  background: linear-gradient(130deg, #008181, #08FFFF);
  -webkit-transition: .7s ease;
  transition: .7s ease;
}

.section1 .section1-container .section1-item2 a:hover::before {
  width: 200px;
  z-index: -1;
}

.section1 .section1-container .section1-item2 a:hover {
  color: #060606;
  border: none;
}

.section1 .section1-container .section1-item3 svg {
  cursor: pointer;
}

.section1 .section1-container .section1-item3 svg:hover path {
  stroke: #00ffff;
}

.section1 .section1-container .section1-item3 svg:hover {
  -webkit-animation: introSplash2 2s ease forwards;
          animation: introSplash2 2s ease forwards;
  stroke-dasharray: 515px;
  stroke-dashoffset: 515px;
}

@-webkit-keyframes introSplash2 {
  to {
    stroke-dasharray: 515px;
    stroke-dashoffset: 0px;
  }
}

@keyframes introSplash2 {
  to {
    stroke-dasharray: 515px;
    stroke-dashoffset: 0px;
  }
}

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: #171717;
  -webkit-animation: endSplash 1s ease-in-out 3.5s forwards;
          animation: endSplash 1s ease-in-out 3.5s forwards;
}

#splash-screen #LA {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: endSplash 1s ease-in-out 3.5s forwards;
          animation: endSplash 1s ease-in-out 3.5s forwards;
}

#splash-screen #LA #L,
#splash-screen #LA #A {
  stroke-dasharray: 515px;
  stroke-dashoffset: 515px;
  -webkit-animation: introSplash 2s ease forwards;
          animation: introSplash 2s ease forwards;
}

#splash-screen #splash-svgs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-animation: endSplash 1s ease-in-out 3.5s forwards;
          animation: endSplash 1s ease-in-out 3.5s forwards;
}

#splash-screen #splash-svgs #lineSplash1 {
  -webkit-animation: linha4 6s linear infinite;
          animation: linha4 6s linear infinite;
}

#splash-screen #splash-svgs #lineSplash2 {
  -webkit-animation: linha4 4s linear infinite;
          animation: linha4 4s linear infinite;
}

#splash-screen #splash-svgs #lineSplash3 {
  -webkit-animation: linha2 5s linear infinite;
          animation: linha2 5s linear infinite;
}

#splash-screen #splash-svgs #circleSplash {
  animation: circle 3s infinite alternate-reverse;
}

@-webkit-keyframes introSplash {
  to {
    stroke-dasharray: 515px;
    stroke-dashoffset: 0px;
  }
}

@keyframes introSplash {
  to {
    stroke-dasharray: 515px;
    stroke-dashoffset: 0px;
  }
}

@-webkit-keyframes endSplash {
  to {
    top: -100vh;
  }
}

@keyframes endSplash {
  to {
    top: -100vh;
  }
}

#splash-aux {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #00ffff;
  -webkit-animation: endSplash .7s ease-in-out 4s forwards;
          animation: endSplash .7s ease-in-out 4s forwards;
}

.section2 {
  width: 100%;
  min-height: 100vh;
  padding: 200px 0px 0px;
}

.section2 .section2-container {
  max-width: 1180px;
  padding: 0px 20px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "about images" "know know";
  row-gap: 80px;
}

.section2 .section2-container .section2-item1 {
  margin-right: 40px;
  max-width: 550px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2 .section2-container .section2-item1 h2 {
  margin-bottom: 100px;
}

.section2 .section2-container .section2-item1 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 300px;
  margin: 40px 0;
  background: linear-gradient(130deg, #008181, #08FFFF);
  color: #060606;
}

.section2 .section2-container .section2-item2 {
  width: 100%;
  height: 370px;
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: images;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section2 .section2-container .section2-item2 .circle-photo1 {
  width: 190px;
  height: 190px;
  background-color: transparent;
  border: #008181 5px dashed;
  border-radius: 50%;
  animation: circle-photo 150s reverse infinite linear;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section2 .section2-container .section2-item2 .circle-photo2 {
  width: 275px;
  height: 275px;
  background-color: transparent;
  border: #008181 5px dashed;
  border-radius: 50%;
  -webkit-animation: circle-photo 150s infinite linear;
          animation: circle-photo 150s infinite linear;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section2 .section2-container .section2-item3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: know;
  background-color: #060606;
  position: relative;
  max-width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  border-radius: 20px;
  -webkit-box-shadow: rgba(6, 6, 6, 0.4) 10px 30px 40px;
          box-shadow: rgba(6, 6, 6, 0.4) 10px 30px 40px;
}

.section2 .section2-container .section2-item3 svg {
  position: absolute;
  top: -70px;
  left: -140px;
}

.section2 .section2-container .section2-item3 .button {
  position: absolute;
  height: 50px;
  width: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  background-color: transparent;
  color: #08FFFF;
  border: none;
  outline: none;
  cursor: pointer;
}

.section2 .section2-container .section2-item3 #previous {
  left: 35px;
}

.section2 .section2-container .section2-item3 #next {
  right: -15px;
}

.section2 .section2-container .section2-item3 .slider {
  max-width: 1000px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section2 .section2-container .section2-item3 .slider .know {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #252525;
  min-width: 200px;
  min-height: 200px;
  margin: auto 20px;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.section2 .section2-container .section2-item3 .slider .know:hover img {
  -webkit-transform: translate(-50%, -120px);
          transform: translate(-50%, -120px);
  opacity: 0;
}

.section2 .section2-container .section2-item3 .slider .know:hover p {
  -webkit-transform: translate(-50%, -205px);
          transform: translate(-50%, -205px);
  opacity: 1;
}

.section2 .section2-container .section2-item3 .slider .know img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: .7s;
  transition: .7s;
}

.section2 .section2-container .section2-item3 .slider .know p {
  opacity: 0;
  position: absolute;
  top: calc(50% + 200px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(150deg, #08FFFF, #008181);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: 1s;
  transition: 1s;
}

@-webkit-keyframes circle-photo {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes circle-photo {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.section3 {
  width: 100%;
  min-height: 100vh;
  padding: 200px 0px 0px;
}

.section3 .section3-container {
  max-width: 1180px;
  padding: 0px 20px;
  margin: 0 auto;
}

.section4 {
  width: 100%;
  min-height: 100vh;
  padding: 200px 0px 0px;
}

.section4 .section4-container {
  max-width: 1180px;
  padding: 0px 20px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'form map';
}

.section4 .section4-container .section4-item1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: form;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section4 .section4-container .section4-item1 h2 {
  margin-bottom: 100px;
}

.section4 .section4-container .section4-item1 form {
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'name email' 'message message' 'submit submit';
  gap: 20px;
}

.section4 .section4-container .section4-item1 form .position-name {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: name;
}

.section4 .section4-container .section4-item1 form .position-email {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: email;
}

.section4 .section4-container .section4-item1 form .position-message {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: message;
  position: relative;
  margin-top: 55px;
}

.section4 .section4-container .section4-item1 form .position-message textarea {
  position: absolute;
  height: 200px;
  min-width: 100%;
  border: none;
  outline: none;
  padding: 10px 20px;
  background-color: #060606;
  font-size: 1.125rem;
  color: #fefefe;
  resize: none;
}

.section4 .section4-container .section4-item1 form .position-message textarea:focus ~ label,
.section4 .section4-container .section4-item1 form .position-message textarea:valid ~ label {
  -webkit-transform: translate(-10px, -35px);
          transform: translate(-10px, -35px);
  color: #08FFFF;
}

.section4 .section4-container .section4-item1 form .position-message textarea:focus ~ .underline::before,
.section4 .section4-container .section4-item1 form .position-message textarea:valid ~ .underline::before {
  width: 100%;
}

.section4 .section4-container .section4-item1 form .position-message label {
  position: absolute;
  top: 8px;
  left: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  pointer-events: none;
  color: #bbbbbb;
  font-weight: 300;
  font-size: 1.125rem;
}

.section4 .section4-container .section4-item1 form .position-message .underline {
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #252525;
}

.section4 .section4-container .section4-item1 form .position-message .underline::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #08FFFF;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.section4 .section4-container .section4-item1 form .position-name,
.section4 .section4-container .section4-item1 form .position-email {
  position: relative;
}

.section4 .section4-container .section4-item1 form .position-name input,
.section4 .section4-container .section4-item1 form .position-email input {
  position: absolute;
  height: 40px;
  min-width: 100%;
  border: none;
  outline: none;
  padding: 0 20px;
  background-color: #060606;
  font-size: 1.125rem;
  color: #fefefe;
}

.section4 .section4-container .section4-item1 form .position-name input:focus ~ label,
.section4 .section4-container .section4-item1 form .position-name input:valid ~ label,
.section4 .section4-container .section4-item1 form .position-email input:focus ~ label,
.section4 .section4-container .section4-item1 form .position-email input:valid ~ label {
  -webkit-transform: translate(-10px, -35px);
          transform: translate(-10px, -35px);
  color: #08FFFF;
}

.section4 .section4-container .section4-item1 form .position-name input:focus ~ .underline::before,
.section4 .section4-container .section4-item1 form .position-name input:valid ~ .underline::before,
.section4 .section4-container .section4-item1 form .position-email input:focus ~ .underline::before,
.section4 .section4-container .section4-item1 form .position-email input:valid ~ .underline::before {
  width: 100%;
}

.section4 .section4-container .section4-item1 form .position-name label,
.section4 .section4-container .section4-item1 form .position-email label {
  position: absolute;
  top: 8px;
  left: 20px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  pointer-events: none;
  color: #bbbbbb;
  font-weight: 300;
  font-size: 1.125rem;
}

.section4 .section4-container .section4-item1 form .position-name .underline,
.section4 .section4-container .section4-item1 form .position-email .underline {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #252525;
}

.section4 .section4-container .section4-item1 form .position-name .underline::before,
.section4 .section4-container .section4-item1 form .position-email .underline::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #08FFFF;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.section4 .section4-container .section4-item1 form button {
  position: relative;
  margin-top: 200px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: submit;
  cursor: pointer;
  height: 40px;
  min-width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.125rem;
  color: #fefefe;
  -webkit-transition: 1s;
  transition: 1s;
}

.section4 .section4-container .section4-item1 form button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #060606;
  z-index: -1;
}

.section4 .section4-container .section4-item1 form button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 40px;
  background: -webkit-gradient(linear, left top, right top, from(#008181), to(#08FFFF));
  background: linear-gradient(90deg, #008181, #08FFFF);
  z-index: -1;
  -webkit-transition: .7s ease-in-out;
  transition: .7s ease-in-out;
}

.section4 .section4-container .section4-item1 form button:hover::after {
  width: 100%;
}

.section4 .section4-container .section4-item1 form button:hover {
  color: #060606;
}

.section4 .section4-container .section4-item2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: map;
}
/*# sourceMappingURL=style.css.map */