*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import './sass/_color.scss';
@import './sass/_typograph.scss';
// @import './sass/_cursor.scss';

body{
    width: 100%;
    background-color: $black-main;
}


::-webkit-scrollbar{
    width: 12px;
    transition: .5s ease-in-out;
    background: rgba($color: #fff, $alpha: .1);
}

::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background: linear-gradient(transparent, $cian-dark);
}
::-webkit-scrollbar-thumb:hover{
    border-radius: 3px;
    background: linear-gradient(transparent, $cian-light);
}


.menu{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(23,23,23,1) 75%,rgba(23,23,23,0));
    z-index: 1;

    & .menu-container{
        padding: 10px 20px;
        max-width: 1180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .menu-logo svg{
            height: 100px;
            cursor: pointer;
        }

        .menu-left a+a,
        .menu-right a+a{
            margin-left: 60px;
        }

        .menu-left a,
        .menu-right a{
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 1.5rem;
            transition: .3s ease;
            padding: 15px 20px;
        }
      
        .menu-left a:hover,
        .menu-right a:hover{
            color: $cian-main;
        }
    }
}

.section1{
    width: 100%;
    height: 100vh;
    padding: 200px 0px 0px;
    .section1-container{
        max-width: 1180px;
        padding: 0px 20px;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: default;
        
        .section1-item1{
            display: flex;
            flex-direction: column;
            a{
                i{
                    color: $white-light;
                    font-size: 50px;
                    cursor: pointer;
                    transition: .3s ease;
    
                    &:hover{
                        color: $cian-light;
                    }
                }
            }
            a+a{
                margin-top: 50px;
            }
        }

        .section1-item2{
            max-width: 450px;
            h2{
                margin-bottom: 20px;
            }
            h3{
                font-size: 1.5rem;
                margin-bottom: 20px;
            }
            p{
                color: $white-dark;
                margin-bottom: 60px;
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                height: 40px;
                color: $cian-light;
                position: relative;
                border: 1px solid $cian-light;
            
                &::before{
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    height: 39px;
                    width: 0px;
                    background: linear-gradient(130deg, $cian-dark, $cian-light);
                    transition: .7s ease;
                }
                &:hover::before{
                    width: 200px;
                    z-index: -1;
                }
                &:hover{
                    color: $black-dark;
                    border: none;
                }
            }
        }

        .section1-item3 svg{
            cursor: pointer;
            
            &:hover path{
                stroke: $cian-main;
            }
            
            &:hover{
                animation: introSplash2 2s ease forwards;
                stroke-dasharray: 515px;
                stroke-dashoffset: 515px;
            }
        }
    }
}

@keyframes introSplash2{
    to{
        stroke-dasharray: 515px;
        stroke-dashoffset: 0px;
    }
}

@import './sass/_splash-screen.scss';


.section2{
    width: 100%;
    min-height: 100vh;
    padding: 200px 0px 0px;
    .section2-container{
        max-width: 1180px;
        padding: 0px 20px;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "about images"
        "know know"
        ;
        row-gap: 80px;

        .section2-item1{
            margin-right: 40px;
            max-width: 550px;
            grid-area: about;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2{
                margin-bottom: 100px;
            }
            a{
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 40px;
                width: 300px;
                margin: 40px 0;
                background: linear-gradient(130deg, $cian-dark, $cian-light);
                color: $black-dark;
            }
        }

        .section2-item2{
            width: 100%;
            height: 370px;
            position: relative;
            grid-area: images;
            display: flex;
            justify-content: space-between;
            .circle-photo1{
                width: 190px;
                height: 190px;
                background-color: transparent;
                border: $cian-dark 5px dashed;
                border-radius: 50%;
                animation: circle-photo 150s reverse infinite linear;
                align-self: flex-end;
            }

            .circle-photo2{
                width: 275px;
                height: 275px;
                background-color: transparent;
                border: $cian-dark 5px dashed;
                border-radius: 50%;
                animation: circle-photo 150s infinite linear;
                align-self: flex-start;
            }
        }

        .section2-item3{
            grid-area: know;
            background-color: $black-dark;
            position: relative;
            max-width: 100%;
            height: 300px;
            display: flex;
            justify-content: space-evenly;
            align-content: center;
            border-radius: 20px;
            box-shadow: rgba($color: $black-dark, $alpha: .4) 10px 30px 40px;

            svg{
                position: absolute;
                top: -70px;
                left: -140px;
            }

            .button{
                position: absolute;
                height: 50px;
                width: 50px;
                transform: translate(-50%, -50%);
                top: 50%;
                background-color: transparent;
                color: $cian-light;
                border: none;
                outline: none;
                cursor: pointer;
            }
            #previous{
                left: 35px;
            }
            #next{
                right: -15px;
            }

            .slider{
                max-width: 1000px;
                overflow: hidden;
                display: flex;

                .know{
                    display: flex;
                    background-color: $black-light;
                    min-width: 200px;
                    min-height: 200px;
                    margin: auto 20px;
                    position: relative;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: .5s;
    
                    &:hover img{
                        transform: translate(-50%, -120px);
                        opacity: 0;
                    }
    
                    &:hover p{
                        transform: translate(-50%, -205px);
                        opacity: 1;
                    }
                    
                    img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        transition: .7s;
                    }
    
                    p{
                        opacity: 0;
                        position: absolute;
                        top: calc(50% + 200px);
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 1.125rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        background: linear-gradient(150deg, $cian-light, $cian-dark);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transition: 1s;
                    }
                }
            }
        }
    }
}

@keyframes circle-photo{
    to{
        transform: rotate(360deg);
    }
}

.section3{
    width: 100%;
    min-height: 100vh;
    padding: 200px 0px 0px;
    .section3-container{
        max-width: 1180px;
        padding: 0px 20px;
        margin: 0 auto;
    }
}

.section4{
    width: 100%;
    min-height: 100vh;
    padding: 200px 0px 0px;
    .section4-container{
        max-width: 1180px;
        padding: 0px 20px;
        margin: 0 auto;
        display: grid;
        grid-template-areas:
        'form map';

        .section4-item1{
            grid-area: form;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2{
                margin-bottom: 100px;
            }

            form{
                width: 100%;
                display: grid;
                grid-template-areas: 
                'name email'
                'message message'
                'submit submit';
                gap: 20px;

                .position-name{
                    grid-area: name;
                }
                .position-email{
                    grid-area: email;
                }
                .position-message{
                    grid-area: message;
                    position: relative;
                    margin-top: 55px;

                    textarea{
                        position: absolute;
                        height: 200px;
                        min-width: 100%;
                        border: none;
                        outline: none;
                        padding: 10px 20px;
                        background-color: $black-dark;
                        font-size: 1.125rem;
                        color: $white-light;
                        resize: none;

                        &:focus ~ label,
                        &:valid ~ label{
                            transform: translate(-10px, -35px);
                            color: $cian-light;
                        }

                        &:focus ~ .underline::before,
                        &:valid ~ .underline::before{
                            width: 100%;
                        }
                    }

                    label{
                        position: absolute;
                        top: 8px;
                        left: 20px;
                        transition: all .3s ease-in-out;
                        pointer-events: none;
                        color: $white-dark;
                        font-weight: 300;
                        font-size: 1.125rem;
                    }

                    .underline{
                        position: absolute;
                        bottom: -200px;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: $black-light;
                    
                        &::before{
                            content: "";
                            position: absolute;
                            bottom: 0px;
                            left: 0;
                            width: 0%;
                            height: 3px;
                            background-color: $cian-light;
                            transition: all .3s ease-in-out;
                        }
                    }
                }

                .position-name,
                .position-email{
                    position: relative;

                    input{
                        position: absolute;
                        height: 40px;
                        min-width: 100%;
                        border: none;
                        outline: none;
                        padding: 0 20px;
                        background-color: $black-dark;
                        font-size: 1.125rem;
                        color: $white-light;

                        &:focus ~ label,
                        &:valid ~ label{
                            transform: translate(-10px, -35px);
                            color: $cian-light;
                        }

                        &:focus ~ .underline::before,
                        &:valid ~ .underline::before{
                            width: 100%;
                        }
                    }

                    label{
                        position: absolute;
                        top: 8px;
                        left: 20px;
                        transition: all .3s ease-in-out;
                        pointer-events: none;
                        color: $white-dark;
                        font-weight: 300;
                        font-size: 1.125rem;
                    }

                    .underline{
                        position: absolute;
                        bottom: -40px;
                        left: 0;
                        width: 100%;
                        height: 3px;
                        background-color: $black-light;
                        
                        &::before{
                            content: "";
                            position: absolute;
                            bottom: 0px;
                            left: 0;
                            width: 0%;
                            height: 3px;
                            background-color: $cian-light;
                            transition: all .3s ease-in-out;
                        }
                    }
                }

                button{
                    position: relative;
                    margin-top: 200px;
                    grid-area: submit;
                    cursor: pointer;
                    height: 40px;
                    min-width: 100%;
                    border: none;
                    outline: none;
                    background-color: transparent;
                    font-size: 1.125rem;
                    color: $white-light;
                    transition: 1s;

                    &::before{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 40px;
                        background-color: $black-dark;
                        z-index: -1;
                    }
                    &::after{
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0%;
                        height: 40px;
                        background: linear-gradient(90deg,$cian-dark, $cian-light);
                        z-index: -1;
                        transition: .7s ease-in-out;
                    }
                    &:hover::after{
                        width: 100%;
                    }
                    &:hover{
                        color: $black-dark;
                    }
                }
            }
        }
        .section4-item2{
            grid-area: map;
        }
    }
}